.black{
2
background:grey;
3
height:150px;
4
}
5
.yellow{
6
background:yellow;
7
height:600px;
8
}
9
.lightgrey{
10
background:lightgrey;
11
height:600px;
12
width:900px;
13
}
14
.h1{
15
color:white;
16
margin-top:40px;
17
}
18
.white{
19
color:white;
20
}
21
.about{
22
margin-top:40px;
23
margin-left:60px;
24
}
25
.stats{
26
margin-top:40px;
27
margin-left:60px;
28
}
29
.personallife{
30
margin-top:40px;
31
margin-left:60px;
32
}
33
.captaincy{
34
margin-top:40px;
35
margin-left:25px;
36
margin-right:60px;
37
} 
38
.image{
39
width:150px;
40
height:150px;
41
border-radius:70px;
42
}
43
.orange{
44
background:orange;
45
color:white;
46
border:0;
47
margin:auto;
48
text-align:center;
49
}
50
.img1{
51
width:180px;
52
height:150px;
53
margin:auto;
54
margin-left:15px;
55
}
56
.img2{
57
width:180px;
58
height:150px;
59
margin:auto;
60
}
61
.img3{
62
width:180px;
63
height:150px;
64
margin:auto;
65
}
66
.img4{
67
width:180px;
68
height:150px;
69
margin:auto;
70
}
